# Dict

In [2]:
empty_dict = {}

In [3]:
d1 = {'a': 'some_value', 'b': [1,2,3,4]}

In [4]:
d1

{'a': 'some_value', 'b': [1, 2, 3, 4]}

In [5]:
d1[7] = "an integer"

In [6]:
d1

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [7]:
'b' in d1

True

In [8]:
d1[5] = 'some value'

In [9]:
d1

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [10]:
d1['dummy'] = 'another value'

In [11]:
d1

{'a': 'some_value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [13]:
ret = d1.pop('dummy')
ret

'another value'

In [14]:
d1

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [15]:
del d1[5]

In [16]:
d1

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [17]:
list(d1.keys())

['a', 'b', 7]

In [18]:
list(d1.values())

['some_value', [1, 2, 3, 4], 'an integer']

In [21]:
d1.update({'b':'foo', 'c': 12})
d1

{'a': 'some_value', 'b': 'foo', 7: 'an integer', 'c': 12}

## creating dicts from sequences

In [40]:
myzip = zip(range(5), reversed(range(5)))

In [41]:
import copy
myzip1 = copy.deepcopy(myzip)
myzip2 = copy.deepcopy(myzip)

In [42]:
listing = list(myzip1)
listing

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [43]:
mapping = dict(myzip2)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## Default values

In [44]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [45]:
by_letter = {}

In [46]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [47]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [48]:
by_letter_default = {}
for word in words:
    letter = word[0]
    by_letter_default.setdefault(letter, []).append(word)
by_letter_default

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [49]:
from collections import defaultdict
by_letter_3 = defaultdict(list)
for word in words:
    by_letter_3[word[0]].append(word)
by_letter_3

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

## Valid dict ket types

In [50]:
hash('string')

8909713072740280053

In [51]:
hash((1,2,(2,3)))

-9209053662355515447

In [53]:
hash((1,2,[2,3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [54]:
d = {}

In [55]:
d[tuple([1,2,3])] = 5

In [56]:
d

{(1, 2, 3): 5}