# Tuple

In [1]:
tup = 4,5,6
tup

(4, 5, 6)

In [2]:
neste_tup = (4,5,6),(7,8)
neste_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4,0,2])

(4, 0, 2)

In [7]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [11]:
# once the tuple is created is't not possible to modify which object is stored in each slot
tup = tuple(['foo', [1,2], True])
print(tup)
tup[2] = False

('foo', [1, 2], True)

TypeError: 'tuple' object does not support item assignment

In [13]:
# if an object inside a tuple is mutable
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [15]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [16]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## unpacking tuples

In [18]:
tup = (4,5,6)
a,b,c = tup
print(a,b,c)

4 5 6

In [19]:
tup = 4,5,(6,7)
a,b,(c,d) = tup
d

7

In [20]:
a,b = 1,2

In [21]:
a

1

In [22]:
b

2

In [23]:
b,a = a,b

In [24]:
a

2

In [25]:
b

1

In [26]:
seq = [(1,2,3), (4,5,6), (7,8,9)]

In [27]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [28]:
values = 1,2,3,4,5
values

(1, 2, 3, 4, 5)

In [29]:
type(values)

tuple

In [30]:
a,b, *rest = values

In [31]:
a,b

(1, 2)

In [32]:
rest

[3, 4, 5]

In [33]:
a, b , *_ = values

## Tuple mthods

In [35]:
a = (1,2,2,2,3,4,2)

In [36]:
a.count(2)

4